body {
    margin: 0;
    padding: 0;
}

.app-container {
    margin: 2rem;
}

.icon-delete {
    width: 36px;
    border-radius: 6px;
    background: rgb(255, 0, 0, 0.1);
    color: rgb(255, 0, 0);
    padding: 5px;
}

